In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Downloads/digit/train.csv')
df

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41996,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41997,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41999,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
X = df.drop('label',axis=1)
Y = df['label']
X.shape

(42000, 784)

In [4]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(X,Y,test_size = 0.2, random_state = 19)

In [5]:
x_train.shape

(33600, 784)

In [6]:
x_train = x_train/255
x_test = x_test/255

In [7]:
from tensorflow.keras.utils import to_categorical

In [8]:
y_train= to_categorical(y_train,  num_classes=10)
y_test= to_categorical(y_test,  num_classes=10)

In [9]:
x_train = x_train.values.reshape(-1,28,28,1)
x_test = x_test.values.reshape(-1,28,28,1)

In [10]:
x_train.shape

(33600, 28, 28, 1)

In [11]:
from tensorflow.keras.layers import Dense, Conv2D ,MaxPool2D, Flatten
from tensorflow.keras.models import Sequential

In [15]:
model =  Sequential()
model.add(Conv2D(16,(3,3),activation='relu', input_shape = (28,28,1)))
model.add(MaxPool2D())
model.add(Conv2D(32,(3,3),activation='relu'))
model.add(MaxPool2D())
model.add(Flatten())
model.add(Dense(10,activation='softmax'))

model.compile(loss='categorical_crossentropy', metrics=['accuracy'])

In [16]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d_2 (Conv2D)           (None, 26, 26, 16)        160

 max_pooling2d_2 (MaxPooling  (None, 13, 13, 16)       0
 2D)

 conv2d_3 (Conv2D)           (None, 11, 11, 32)        4640

 max_pooling2d_3 (MaxPooling  (None, 5, 5, 32)         0
 2D)

 flatten_1 (Flatten)         (None, 800)               0

 dense_1 (Dense)             (None, 10)                8010

=================================================================
Total params: 12,810
Trainable params: 12,810
Non-trainable params: 0
_________________________________________________________________

In [17]:
hist1 = model.fit(x_train, y_train, batch_size=64, epochs=20)

Epoch 1/20
525/525 [==============================] - 5s 9ms/step - loss: 0.3526 - accuracy: 0.8985
Epoch 2/20
525/525 [==============================] - 5s 9ms/step - loss: 0.1093 - accuracy: 0.9664
Epoch 3/20
525/525 [==============================] - 5s 10ms/step - loss: 0.0770 - accuracy: 0.9759
Epoch 4/20
525/525 [==============================] - 5s 10ms/step - loss: 0.0632 - accuracy: 0.9810
Epoch 5/20
525/525 [==============================] - 5s 10ms/step - loss: 0.0522 - accuracy: 0.9841
Epoch 6/20
525/525 [==============================] - 5s 9ms/step - loss: 0.0464 - accuracy: 0.9860
Epoch 7/20
525/525 [==============================] - 5s 9ms/step - loss: 0.0407 - accuracy: 0.9880
Epoch 8/20
525/525 [==============================] - 5s 9ms/step - loss: 0.0358 - accuracy: 0.9893
Epoch 9/20
525/525 [==============================] - 5s 9ms/step - loss: 0.0329 - accuracy: 0.9906
Epoch 10/20
525/525 [==============================] - 5s 9ms/step - loss: 0.0303 - accuracy: 0.9910
Epoch 11/20
525/525 [==============================] - 5s 9ms/step - loss: 0.0278 - accuracy: 0.9918
Epoch 12/20
525/525 [==============================] - 5s 10ms/step - loss: 0.0247 - accuracy: 0.9928
Epoch 13/20
525/525 [==============================] - 5s 10ms/step - loss: 0.0238 - accuracy: 0.9929
Epoch 14/20
525/525 [==============================] - 5s 10ms/step - loss: 0.0215 - accuracy: 0.9937
Epoch 15/20
525/525 [==============================] - 5s 10ms/step - loss: 0.0204 - accuracy: 0.9942
Epoch 16/20
525/525 [==============================] - 6s 11ms/step - loss: 0.0181 - accuracy: 0.9950
Epoch 17/20
525/525 [==============================] - 6s 11ms/step - loss: 0.0174 - accuracy: 0.9951
Epoch 18/20
525/525 [==============================] - 6s 11ms/step - loss: 0.0163 - accuracy: 0.9951
Epoch 19/20
525/525 [==============================] - 6s 11ms/step - loss: 0.0150 - accuracy: 0.9955
Epoch 20/20
525/525 [==============================] - 6s 11ms/step - loss: 0.0142 - accuracy: 0.9960

In [29]:
model.save('digitcnn.h5')

In [30]:
import os,cv2

In [31]:
filenames = os.listdir('Downloads/digit data/')

In [32]:
img = cv2.imread('Downloads/digit data/'+filename,0)
img

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=uint8)

In [48]:
for filename in filenames:
    img = cv2.imread('Downloads/digit data/'+filename , 0)
    img = cv2.resize(img,(28,28))
    img = img.reshape(1,28,28,1)/255
    y   = model.predict_on_batch(img).argmax()
    print(filename,'\t\t',y)

1.jpg 		 1
2.jpg 		 2
3.jpg 		 3
4.png 		 4
5.jpg 		 5
6.jpg 		 6
7.jpg 		 7
8.png 		 8
9.png 		 1